body {
    margin: 0;
      
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    font-size: 14px;
    /* color: white; */
}

* {
    transition: all 1s;
}

input[type='file'] { display: none; }


h1, h2, h3, h4, h5, h6 { 
    margin: 0px; 
    padding: 0px; 
}

button {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: var(--std-rounding);
    border: none;
    margin: 20px;
}

code {
    font-family: 
        source-code-pro, 
        Menlo, 
        Monaco, 
        Consolas, 
        'Courier New',
        monospace;
}

:root {
    /* padding and spacing */
    --st-padding: 20px;
    --outer-padding: 60px;
    --std-rounding: 20px;

    /* colors */
    /* https://coolors.co/001021-034748-1481ba-11b5e4-0caadc */
    --coolors-rich-black: #001021;
    --coolors-midnight-green: #034748;
    --coolors-blue: #1481BA;
    --coolors-areo: #11B5E4;
    --coolors-process-cyan: #0CAADC;

    /* Figma colors */
    --lighttheme-lightblue: #8ECAE6;
    --lighttheme-neutralblue: #219EBC;
    --lighttheme-darkblue: #023047;
    --lighttheme-yellow: #FFB703;
    --lighttheme-orange: #FB8500;
    --lighttheme-red: #fb3b00;

    --a4-width: 595px;
    --a4-height: 842px;

    /* semantic colors */
    --workbench-color: gray;
}


ul { padding-left: 0px; }

