:root {
    --st-padding: 20px;
    
    /* colors */
    /* https://coolors.co/001021-034748-1481ba-11b5e4-0caadc */
    --coolors-rich-black: #001021;
    --coolors-midnight-green: #034748;
    --coolors-blue: #1481BA;
    --coolors-areo: #11B5E4;
    --coolors-process-cyan: #0CAADC;
    
    --workbench-color: gray;

    --viewer-color: var(--coolors-rich-black);

    --std-rounding: 20px;
}

.App {
    /* text-align: center; */
    display: grid;
    grid-template-columns: [left] 20% [right] 1fr;    
    min-height: 100vh;
    
    .workbench {
        grid-column: 'workbench';
        padding: var(--st-padding);
        background-color: var(--workbench-color);
    }
    
    .viewer {
        background-color: var(--coolors-rich-black);
        grid-column: 'viewer';
        color: white;
        padding: 0 60px;
        
        .header {
            margin: 40px 0px;
        }
    
        .divider {
            background-color: white;
            height: 2px;
            width: 100%;
            margin: 20px 0px;
        }
    
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    
        .list {
            display: flex;
            flex-direction: column;
        }
    }
    
    
    .card {
        border: 1px solid white;
        border-radius: var(--std-rounding);
        padding: var(--st-padding);
    }
}